h1,h2,h4,h5,h6 {
    color: var(--heading-color);
    font-family: var(--body-ff);
}

h1 {
    font-size: 92px;
    line-height: 106px;
    font-weight: 800;
}

h2 {
    font-size: 72px;
    line-height: 76px;
    font-weight: 700;
}

h3 {
    font-family: var(--header-ff);
    color: var(--heading-color);
    font-size: 52px;
    line-height: 48px;
    font-weight: 800;
}

h4 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}

h5 {
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
}

h6 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
}