* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    font-family: var(--body-ff);
    font-size: var(--fs-base);
    line-height: var(--lh-base);
}

hr {
    width: 100%;
    border: 1px solid #bfbfbf20;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--body-color);
}

button {
    cursor: pointer;
}