#schedule {
    display: grid;
    grid-template-columns: 25% 1fr;
    column-gap: 169px;
}

.schedule-left p {
    margin-top: 20px;
    margin-bottom: 34px;
}

.schedule-left button {
    padding: 16px 30px;
    background-color: rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
}
.schedule-left button:hover {
    background-color: var(--body-color);
    color: var(--bg-color);
}

.schedule-day,.schedule-date {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 46px;
    padding: 11px 0;
}

.schedule-day h6:hover,.schedule-date h5:hover {
    color: var(--heading-color);
    background-color: #ffffff1a;
    cursor: pointer;
    font-size: 25px;
    text-align: center;
    transition: all 1s;
}

.schedule-detail {
    display: grid;
    grid-template-columns: 27.5% 72.5%;
}

.schedule-detail > p,
.schedule-detail .schedule-desc {
    padding-bottom: 30px;
} 

.schedule-desc {
    border-left: 3px solid #FFCF96;
    padding-left: 44px;
}

.schedule-desc h6 {
    margin-bottom: 14px;
}

.schedule-time {
    margin-top: 43px;
}

@media (max-width:768px) {
    #schedule {
        grid-template-columns: 100%;
        row-gap: 45px;
    }
}