.team-text {
    text-align: center;
}

.team-text p {
    margin-top: 20px;
    margin-bottom: 56px;
}

.team-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}

.team-list img {
    width: 100%;
    height: auto;
}

@media (max-width: 1240px) {
    .team-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }
}